@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables  */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* width: 1920px;
  height: 1295px; */
  background: #ebeef2;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.font-arabic {
  font-family: me_quran;
  word-spacing: 8px;
}

.scrollbar-light::-webkit-scrollbar-track-piece {
  background: white;
}

@font-face {
  font-family: me_quran;
  src: url("/fonts/me_quran Regular.ttf");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
